<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mymodule</name>
    <displayName><![CDATA[Webhook Events Module]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Wysy&#x142;a eventy ze sklepu przez HTTP POST na zewn&#x119;trzny endpoint]]></description>
    <author><![CDATA[Developer]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
